.cart-empty {
  display: none;
}

@include medium-up {
  .cart--sticky-desktop {
    position: sticky;
    -webkit-position: sticky;
    top: 0;
  }
}

@include medium-down {
  .cart--mobile {
    top: 80px;
    position: relative;
    padding: 10px;
  }
}

.cart--container {
  width: 100%;
  margin-top: 1rem;
  @include clearfix;
}

.cart--content {
  position: relative;
  background-color: $gray-light;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
}

.cart--intro-title {
  display: block;
  width: 100%;
  svg.cart-icon {
    position: relative;
    display: inline-block;
    top: 2px;
    margin: 0 1rem;
    path {
      fill: $gray-dark;
    }
  }
  .cart--intro {
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 10px;
    color: $gray-dark;
  }
}

.cart--total {
  position: relative;
  margin-top: 3px;
  .cart--total-text {
    position: relative;
    display: inline-block;
    top: 5px;
    width: 100%;
    @include clearfix;
    h5,
    span {
      display: inline-block;
      font-size: 1.3rem;
      font-weight: $regular;
    }
    span {
      margin: 0 5px;
    }
    .cart--total-currency {
      font-size: 1.7rem;
      float: right;
    }
    .cart--total-price {
      font-size: 1.7rem;
      font-weight: $bold;
      color: $primary;
      float: right;
    }
  }
}

.cart--container {
  p {
    display: none;
    display: inline-block;
    color: $white;
    font-size: 1.2rem;
  }
}

.promo--container {
  padding: 1rem;
  margin-top: 3px;
  @extend %border-radius;
  background-color: $gray-light;
}

/** ------- CART ITEMS ------- **/
.cartItems {
  position: relative;
  width: 100%;
}

.cartItems--container {
  width: 100%;
  background-color: $gray-light;
  border-radius: 5px;
}

.cart--intro-title {
  padding: 5px 0;
}
.cart--intro {
  font-weight: 600;
}

.cartItems--item {
  display: table;
  width: 100%;

  padding-top: 2px;
  padding-bottom: 2px;
  border-top: 1px solid $gray-dark;
  span {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    min-width: 30px;
  }
}

.cartItems--item {
  .cartItems--pic {
    width: 80px;
    img {
      height: 50px;
      max-width: 50px;
    }
  }
  .cartItems--title {
    padding-left: 10px;
    width: 50%;
  }
  .cartItems--cross {
    .cross--container {
      position: relative;
      width: 50px;
      height: 50px;
      transition-duration: 300ms;
      cursor: pointer;
      svg {
        position: relative;
        z-index: 1;
        display: block;
        fill: $black;
        left: 8px;
        transition-duration: 300ms;
      }
      &:hover {
        svg {
          fill: $primary;
        }
      }
    }
  }
  .cartItems--dash,
  .cartItems--count,
  .cartItems--nb,
  .cartItems--currency,
  .cartItems--price {
    padding-right: 10px;
  }
}

.btn--counter-input {
  width: 30px;
}
