%badge {
  display: inline-block;
  padding: 0 0 0 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 0.9rem;
  color: $white;
  margin: 2px 3px;
}

.badge {
  @extend %badge;
}

.badge--primary {
  background-color: $gray-dark;
  transition-duration: 300ms;
  cursor: pointer;
  &:hover {
    background-color: $primary;
  }
}

.badge--container span {
  display: inline-block;
}

.badge .bagde--item-bold {
  font-weight: $bold;
  font-size: 0.92rem;
  margin-right: 0.2rem;
}
.badge .bagde--item-light {
  font-weight: $light;
  font-size: 0.8rem;
}

.badge .bagde--item-nb {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.badge .bagde--item-dash {
  margin: 0 5px;
}

.badge .bagde--item-currency {
  margin-right: 2px;
}

.badge .badge--cross {
  position: relative;
  top: -3px;
  z-index: 0;
  margin: 0 3px 0 10px;
  width: 18px;
  height: 18px;
  display: inline-block;
  svg.cross-icon {
    position: relative;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    path {
      fill: $gray-dark;
      transition-duration: 300ms;
    }
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $gray-light;
    border-radius: 50%;
    transition-duration: 300ms;
  }
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: -5px;
    top: -2px;
    bottom: -3px;
    border: 1px solid $gray-light;
  }
  &:hover {
    svg.cross-icon {
      path {
        fill: red;
      }
    }
    &:before {
      background-color: $gray-dark;
    }
  }
}
